h1 {
  color: steelblue;
  margin-left: 20px;
}
#eightball {
  background-color: black;
  color: white;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
#question-answer {
  position: relative;
  width: 80%;
  margin: auto;
  top: 105px;
  text-align: center;
}
